*{
    margin: 0;
    padding: 0;
}

/* 1fr - 300px */
/* 2fr - 600px */

.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer"
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 5px;
    padding: 10px;
    height: 100vh;
}

.item{
    background-color: #236270;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}