h1{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: 150px;
}

.item{
    overflow: hidden;
    border-radius: 8px;
    display: flex;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-small{
    grid-row: span 1;
    /* 75px out of 150px */
}

.item-medium{
    grid-row: span 2;
    /* 100px out of 150px */
}

.item-tall{
    grid-row: span 3;
    /* 150px out of 150px */
}