*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.card-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    flex: 1;
    background: #f5f5f5;
    padding: 10px;
    min-height: 250px;
    border-radius: 8px;
}