.parent-container{
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;

    /* animation property */
    transition: transform 0.7s ease-in-out;
}

.parent-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child-container{
    position: absolute;
    /* Interview Important offset values */
    /* top: 80%;
    left: 10%; */
    bottom: 30%;
    right: 30%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.parent-container:hover .child-container{
    opacity: 1;
}


/* px for padding, margin */
/* % for setting up width or height*/
/* rem font size */